---
interface HeroCopy {
  app: string,
  hero: {
    title: string;
    desc: string;
    linkPrimary: string;
    linkSecondary: string;
  };
}

interface Props {
  copy: HeroCopy;
  locale: 'en' | 'ru';
}

const { copy, locale } = Astro.props;

const downloadHref = locale === 'ru' ? '/ru/download/' : '/download/';
const videoHref = locale === 'ru' ? '/ru/video/' : '/video/';
---

<section class='hero'>
  <div class='container'>
    <div class="base">
      <figure></figure>
      <div class="copy">
        <h1>
          <em>{copy.app}</em>
          {copy.hero.title}
        </h1>
        <p class='desc'>{copy.hero.desc}</p>

        <div class='actions'>
          <a class='btn btn-primary' href={downloadHref}>
            {copy.hero.linkPrimary}
          </a>

          <a class='btn' href={videoHref}>
            {copy.hero.linkSecondary}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
