extends /pages/pug/base.pug
include /pages/pug/mixins

//- FRONT MATTER ---------------------------------------------------------------
append config
  -
    page.isFront = true;
    page.bodyClasses = 'page is-front';

//- CONTENT --------------------------------------------------------------------
block content
  header.header
    .container.is-kicker
      | Новое приложение&nbsp;&mdash; литературный помощник
      span.d-none.d-md-inline . Специально для блогеров, маркетологов и&nbsp;копирайтеров
  article.main(role='main')
    //- HERO
    section.hero
      .container
        img(src='/img/components/hero/logo.svg' alt='Иконка Magic Notebook')
        h1.hero__display
          | Magic Notebook
          span.h1 Пишите сами. Пишите лучше
        .hero__copy
          p.hero__subtitle Пишите так хорошо, чтобы начальники премировали, клиенты покупали, а&nbsp;подписчики ставили лайки
          button.btn.is-link(type='button' data-bs-toggle='modal' data-bs-target='#modal-video') См. проморолик

    .carousel.is-main.slide#carousel-main(data-bs-ride='carousel')
      .carousel__inner(role='group')

        mixin carouselItem(index, img, caption, prefix=false, suffix=false)

          figure.carousel-item(class!=attributes.class)
            span.border
              img(src=`/img/app-screens/magic-notebook-${img}.png` srcset=`/img/app-screens/magic-notebook-${img}.png, /img/app-screens/magic-notebook-${img}@2x.png 2x` alt= caption)
            figcaption.carousel__caption
              if prefix
                span.d-none.d-sm-inline= prefix
              = caption
              if suffix
                span.d-none.d-sm-inline= suffix
              div= `${index} из 8`

        +carouselItem('1', 'editing', 'Редактирование текста ', false, 'в Magic Notebook')(class='active')
        +carouselItem('2', 'proof-reader', 'Работа над ошибками')
        +carouselItem('3', 'ai-assistant', 'Искусственный интеллект')
        +carouselItem('4', 'thesaurus', 'Подбор нужного слова ', false, '(англ. язык)')
        +carouselItem('5', 'control-panel', 'Контрольная панель')
        +carouselItem('6', 'focus', 'Режим фокуса')
        +carouselItem('7', 'markdown', 'Markdown', 'Редактирование в режиме ')
        +carouselItem('8', 'mini-app', 'Мини-блокнот ', false, 'и встроенный калькулятор')

      a.carousel__control.is-prev(href='#carousel-main' role='button' data-bs-slide='prev')
        figure
          svg.icon(aria-hidden='true' focusable='false')
            use(href='/img/base/graphics/sprite.svg#icon-chevron')
        span.sr-only Назад
      a.carousel__control.is-next(href='#carousel-main' role='button' data-bs-slide='next')
        figure
          svg.icon(aria-hidden='true' focusable='false')
            use(href='/img/base/graphics/sprite.svg#icon-chevron')
        span.sr-only Вперёд

    //- NEED
    section.section.is-need
      .section__body
        h2 Необязательно ждать вдохновения
        p Чтобы писать красиво и&nbsp;убедительно&nbsp;&mdash; сочинения, статьи, доклады&nbsp;&mdash; нужны либо талант и&nbsp;вдохновение, либо несколько программ.
        ol
          li Текстовой процессор. Такой, как Word. Флагман Microsoft&nbsp;&mdash; вещь мощная, за&nbsp;40&nbsp;лет жизни обзавелась кучей функций форматирования. Но&nbsp;в&nbsp;ясном и&nbsp;образном изложении мыслей не&nbsp;помогает. Технически подкованные и&nbsp;ответственные авторы используют дополнительное&nbsp;ПО.
          li Сервисы проверки:
            ul.list.is-nested
              li орфографии, пунктуации, семантики&nbsp;&mdash; более умные, чем модуль корректуры Word;
              li стилистики&nbsp;&mdash; помогают вычищать штампы, канцеляризмы, неблагозвучие, тавтологию и&nbsp;пр.;
              li удобочитаемости.
          li Онлайн-словари синонимов, эпитетов, устойчивых выражений, примеров употребления&nbsp;&mdash; в&nbsp;дополнение к&nbsp;тезаурусу Word&rsquo;а.
          li Если текст объёмный&nbsp;&mdash; очерк, диплом, или роман&nbsp;&mdash; подбирают продвинутый файловый менеджер для организации материалов.
        p: strong Но&nbsp;работать в&nbsp;куче окон и&nbsp;вкладок над одним и&nbsp;тем&nbsp;же текстом неудобно.

    //- PRODUCT
    section.section
      header.section__header.is-magic.col-lg-6.offset-lg-2
        .border
          video(preload='metadata' autoplay muted playsinline loop width='232' height='288')
            source(src='/video/pages/shia-labeouf.mp4' type='video/mp4')
        .section__header-content
          h2 Решение&nbsp;&mdash; писательское приложение, выполняющее все перечисленные функции
      .section__body
        p Цифровой блокнот и&nbsp;литературный помощник Magic Notebook. Основные блоки и&nbsp;характеристики такие...
      //-  Product: features
      .grid.is-features
        .feature
          figure
            svg.icon(aria-hidden='true' focusable='false')
              use(href='/img/base/graphics/sprite.svg#icon-note')
          h3 Программа для набора текстов
          p Современный интерфейс, вложенные электронные таблицы, контрольная панель с&nbsp;поиском по&nbsp;словарям.
        .feature
          figure
            svg.icon.is-normal(aria-hidden='true' focusable='false')
              use(href='/img/base/graphics/sprite.svg#icon-spellcheck')
          h3 Корректор
          p Искусственный интеллект для поиска и&nbsp;исправления ошибок: орфографических, стилистических и&nbsp;др.
        .feature
          figure
            svg.icon.is-inverted(aria-hidden='true' focusable='false')
              use(href='/img/base/graphics/sprite.svg#icon-files')
          h3 Записная книжка
          p Организация отдельных документов из&nbsp;разных папок на&nbsp;компьютере пользователя в&nbsp;единую систему.
        .feature
          figure
            svg.icon.is-normal(aria-hidden='true' focusable='false')
              use(href='/img/base/graphics/sprite.svg#icon-mode-markdown')
          h3 DOCX и&nbsp;Markdown
          p Базовый формат файлов&nbsp;&mdash; Word&rsquo;овский. Плюс дополнительный рабочий формат и&nbsp;представление для блогеров.

    //- LOGOS
    figure.logos
      img(src='/img/pages/os-logos.svg' alt='macOS и Windows')
      figcaption Сначала&nbsp;&mdash; для macOS и&nbsp;Windows.<br>
        | Затем — для мобильных систем.
        h3.logos__title На&nbsp;этапе бета-тестирования&nbsp;&mdash; 🧙‍♀️&nbsp;&nbsp;бесплатно!<br>
          | И&nbsp;потом&nbsp;&mdash; недорого

    //- MAILCHIMP
    section.section.is-early-access
      h2.section__title Начни писать красиво и&nbsp;убедительно
      p.section__subtitle Программа пока в&nbsp;разработке. Оставь свой адрес&nbsp;и, как только &laquo;Волшебный блокнотик&raquo; будет готов, ты&nbsp;получишь его одним из&nbsp;первых.
      form.form#mc-embedded-subscribe-form(action='https://magic-nb.us4.list-manage.com/subscribe/post?u=41111729889796c119d7f48ea&id=c788a21cc9' name='mc-embedded-subscribe-form' method='post' target='_blank' novalidate)
        .grid.has-small-gap
          input.form__control.email#mce-EMAIL(name='EMAIL' type='email' aria-label='Твой email' placeholder='Твой email')
          input.btn.is-primary#mc-embedded-subscribe(name='subscribe' type='submit' value='Заказать')
        #mce-responses
          .form__feedback.response#mce-error-response
          .form__feedback.response#mce-success-response
        .form__verification(aria-hidden='true')
          input(type='text' name='b_41111729889796c119d7f48ea_c788a21cc9' tabindex='-1')

block bodySuffix
  //-  Modal
  .modal.fade#modal-video(tabindex='-1' role='dialog' aria-label='Трейлер-тизер' aria-hidden='true')
    .modal-dialog.has-teaser(role='document')
      .modal__content
        .modal__body
          iframe.mb-0(width='740' height='416' src='https://www.youtube.com/embed/pSu0XP5Pgb8?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0' allow='accelerometer; autoplay; encrypted-media; gyroscope' allowfullscreen)
          button.modal__close(type='button' data-bs-dismiss='modal' aria-label='Close')
            svg.icon(aria-hidden='true' focusable='false')
              use(href='/img/base/graphics/sprite.svg#icon-close-xs')
